<%= form_with(model: chore, local: true) do |form| %>
  <% if chore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chore.errors.count, "error") %> prohibited this chore from being saved:</h2>

      <ul>
      <% chore.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.select :title, set_chores, id: :chore_title, prompt: "Pick a chore" %>
  </div>

  <div class="field">
    <%= form.text_area :details, id: :chore_details, placeholder: "Add some details if you want" %>
  </div>

  <div class="field">
    <%= form.select :priority, set_priority, id: :chore_priority, prompt: "Whats the priority level?" %>
  </div>

  <div class="field">
    <%= form.select :time_to_complete, set_time_to_complete, id: :chore_time_to_complete, prompt: "How long do you think it will take?" %> minutes
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
