<p id="notice"><%= notice %></p>

<h1>Chores</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Details</th>
      <th>Priority</th>
      <th>Time to complete</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chores.each do |chore| %>
      <tr>
        <td><%= chore.title %></td>
        <td><%= chore.details %></td>
        <td><%= chore.priority %></td>
        <td><%= chore.time_to_complete %> minutes</td>
        <td><%= link_to 'Show', chore %></td>
        <td><%= link_to 'Edit', edit_chore_path(chore) %></td>
        <td><%= link_to 'Destroy', chore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><hr>

<%= link_to 'New Chore', new_chore_path %> |
<%= link_to 'Receive a chore', '#', data: { confirm: ("Chordle says: #{@random_chore}") } %> |
<%= link_to 'Receive a newer chore', random_chore_path, { remote: true, 'data-toggle' => 'modal', 'data-target' => '#modal-window' } %>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabal" aria-hidden="true"></div>
