<h1>Add a new chordle to the Chordle list</h1>

<%= form_for @chore do |f| %>
    <%= label_tag ("Name") %>
    <%= f.text_field(:name) %><br>

    <%= label_tag ("Description") %>
    <%= f.text_area(:description) %><br>

    <%= label_tag ("Priority") %>
    <%= f.text_field(:priority) %><br>

    <%= label_tag ("Estimated time for completion") %>
    <%= f.text_field(:time_for_completion) %><br>

    <%= f.submit "Submit" %>
<% end %>