<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @chore.title %>
</p>

<p>
  <strong>Details:</strong>
  <%= @chore.details %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @chore.priority %>
</p>

<p>
  <strong>Time to complere:</strong>
  <%= @chore.time_to_complere %>
</p>

<p>
  <strong>Completed at:</strong>
  <%= @chore.completed_at %>
</p>

<%= link_to 'Edit', edit_chore_path(@chore) %> |
<%= link_to 'Back', chores_path %>
